*~
.DS_Store
.idea/
*.iml
*.ipr
*.iws
out/
bin/
cmd/depotsum/depotsum
.vscode/
test/diskspace/diskspace
test/diskhealth/diskhealth
test/health/health
test/ecode/ecode
test/gitdiff/gitdiff
test/gitlog/gitlog
test/rpchealth/rpchealth
test/pprof/pprof
test/redmutex/redmutex
test/reposum/reposum
test/backup/backup
test/restore/restore